---
import Setup from "@/components/setup/Distro";
import {
  fetchSetupInstructions,
  type DistroSetup,
} from "@/components/setup/distro-setup";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const instructions = await fetchSetupInstructions();

  return instructions.map((instruction: DistroSetup) => {
    return {
      params: {
        distro: instruction.slug ?? instruction.name,
      },
    };
  });
}

const { distro } = Astro.params;

const matchedDistro = (await fetchSetupInstructions()).find(
  (distroItem: DistroSetup) => (distroItem.slug ?? distroItem.name) === distro
);
---

<Layout title="Setup">
  <div style="padding-top: 50px;">
    <Setup distroData={matchedDistro} client:load />
  </div>
</Layout>
