---
import Setup from "@/components/setup/Setup";
import { fetchSetupInstructions } from "../../components/setup/distro-setup";
import Layout from "../../layouts/Layout.astro";

import "@/styles/global.css";

const instructions = await fetchSetupInstructions();
---

<Layout title="Setup">
  <div style="padding-top: 50px;">
    <Setup instructions={instructions} client:load />
  </div>
</Layout>
