---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Flatpak—the future of application distribution">
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="section-heading text-center">About Us</h1>
          <hr class="primary" />
          <p>
            Flatpak is developed by an independent community, made up of
            contributors, volunteers and supporting organizations. It is a true
            upstream open source project, dedicated to providing technology and
            services that can be used by all, with no vendor lock-in. We have
            strong links to other Free Software projects, including the
            Freedesktop project.
          </p>
          <p>
            All our code is freely available, with no contributor agreement
            required. Volunteers and contributing organizations are welcome, as
            equal partners.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="section-heading text-center">Contact</h1>
          <hr class="primary" />
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-xs-4 col-lg-offset-4">
          <div class="right toneddown">Mailing list</div>
        </div>
        <div class="col-lg-4 col-xs-8">
          <a href="https://lists.freedesktop.org/mailman/listinfo/flatpak"
            >flatpak at lists.freedesktop.org</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-xs-2 col-lg-offset-2">
          <div class="right toneddown">
            Private mailing list for security issues
          </div>
        </div>
        <div class="col-lg-4 col-xs-8">
          <a
            href="https://lists.freedesktop.org/mailman/listinfo/flatpak-security"
            >flatpak-security at lists.freedesktop.org</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-xs-4 col-lg-offset-4">
          <div class="right toneddown">Matrix</div>
        </div>
        <div class="col-lg-4 col-xs-8">
          <a href="https://matrix.to/#/#flatpak:matrix.org"
            >#flatpak on Matrix.org</a
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-2 col-xs-4 col-lg-offset-4">
          <div class="right toneddown">GitHub</div>
        </div>
        <div class="col-lg-4 col-xs-8">
          <a href="https://github.com/flatpak">github.com/flatpak</a>
        </div>
      </div>
      <div class="row largegap">
        <div class="col-lg-8 col-lg-offset-2">
          <p>
            Issues with this website can be reported through its
            <a href="https://github.com/flatpak/flatpak.github.io/issues"
              >GitHub project</a
            >.
          </p>
        </div>
      </div>
      <div class="row largegap">
        <div class="col-lg-8 col-lg-offset-2">
          <h1 class="section-heading text-center">Flatpak History</h1>
          <hr class="primary" />
          <div class="timeline mediumgap">
            <div class="date">August 2007</div>
            <div class="description">
              Alexander Larsson releases Glick, his first app bundling framework
            </div>
            <div class="date">November 2011</div>
            <div class="description">
              Glick 2 is released, a modernized version of the first Glick
              framework
            </div>
            <div class="date">July 2012</div>
            <div class="decription">
              “GNOME OS” session held at GUADEC, includes initial planning for a
              new app bundling format
            </div>
            <div class="date">September 2012</div>
            <div class="description">
              Alexander Larsson releases experimental “bundler” framework
            </div>
            <div class="date">January 2013</div>
            <div class="description">
              “Linux Apps” proposal discussed at the GNOME Developer Experience
              hackfest, Brussels
            </div>
            <div class="date">December 2014</div>
            <div class="description">
              Work begins on xdg-app, which later becomes Flatpak
            </div>
            <div class="date">March 2015</div>
            <div class="descripton">
              xdg-app 0.1 released, the very first version of Flatpak
            </div>
            <div class="date">December 2015</div>
            <div class="description">
              GNOME's “Software” gains the ability to install xdg-app
              applications
            </div>
            <div class="date">May 2016</div>
            <div class="description">
              xdg-app renamed to Flatpak, 0.6.0 released;
              <a
                href="https://flatpak.org/press/2016-06-21-flatpak-released.html"
                >accompanying press release</a
              > included endorsements by Red Hat, Endless Computers and Collabora
            </div>
            <div class="date">June 2016</div>
            <div class="description">
              Work on desktop portals security framework begins
            </div>
            <div class="date">June 2016</div>
            <div class="description">
              LibreOffice is the first major application to adopt Flatpak for
              publishing on Linux
            </div>
            <div class="date">July 2016</div>
            <div class="description">
              GTK+ 3.21.4 released with initial support for the portals
              framework
            </div>
            <div class="date">August 2016</div>
            <div class="description">
              Endless OS 3.0 released, the first publicly available OS to use
              Flatpak by default. Adoption of Flatpak by Apertis IVI also
              becomes public knowledge.
            </div>
            <div class="date">November 2016</div>
            <div class="description">
              ClearLinux announces their adoption of Flatpak
            </div>
            <div class="date">December 2016</div>
            <div class="description">
              Flatpak 0.8.0 released, the start of the first stable series with
              long-term support
            </div>
            <div class="date">May 2017</div>
            <div class="description">
              Initial soft launch of Flathub hosting service
            </div>
            <div class="date">May 2017</div>
            <div class="description">
              KDE Plasma 5.10 released with initial support for portals
            </div>
            <div class="date">October 2017</div>
            <div class="description">
              Flatpak 0.10.0 released, marking the start of the second supported
              stable release series
            </div>
            <div class="date">October 2017</div>
            <div class="description">
              KDE Plasma 5.11 released, “Discover” gains the ability to install
              Flatpak apps
            </div>
            <div class="date">October 2017</div>
            <div class="description">
              GIMP adopts Flatpak to publish on Linux
            </div>
            <div class="date">November 2017</div>
            <div class="description">
              Linux Mint 18.3 released, includes out of the box Flatpak
              integration
            </div>
            <div class="date">August 2018</div>
            <div class="description">
              Flatpak 1.0 released, the first release in a new stable series,
              with major new features; Flathub beta period ends; Freedesktop
              runtime 18.08 released with new support period policy
            </div>
            <div class="date">September 2018</div>
            <div class="description">
              KDE introduces the KDE Testing Applications Flatpak repository;
              <a
                href="https://invent.kde.org/packaging/flatpak-kde-applications/-/commit/2d759a0d601942c3cf3a1d6a562942da543f7f83"
                >commit</a
              >
            </div>
            <div class="date">December 2019</div>
            <div class="description">
              elementary OS 5.1 Hera released, includes out of the box Flatpak
              integration
            </div>
            <div class="date">April 2020</div>
            <div class="description">
              Mozilla adopts Flatpak to publish Firefox on Linux
            </div>
            <div class="date">April 2020</div>
            <div class="description">
              System76 releases Pop!_OS 20.04, includes out of the box Flatpak
              integration
            </div>
            <div class="date">October 2021</div>
            <div class="description">
              1Password adopts Flatpak to publish on Linux
            </div>
            <div class="date">Febuary 2022</div>
            <div class="description">
              Valve releases the Steam Deck; a handheld video game console with
              out of the box Flatpak and Flathub integration
            </div>
            <div class="date">Febuary 2022</div>
            <div class="description">
              OBS Studio adopts Flatpak to publish on Linux
            </div>
            <div class="date">May 2022</div>
            <div class="description">
              Red Hat Enterprise Linux Workstation 9 released, includes out of
              the box Flatpak integration
            </div>
            <div class="date">October 2022</div>
            <div class="description">
              Flathub introduces verified status;
              <a
                href="https://github.com/flathub/website/commit/5aae6b759b15ae26c155a0c8c18f13ca0da29ee3"
                >commit</a
              >
            </div>
            <div class="date">April 2023</div>
            <div class="description">
              Purism introduces Flatpak and the PureOS Flatpak repository;
              <a href="https://puri.sm/posts/introducing-flatpaks-on-pureos/"
                >announcement</a
              >
            </div>
            <div class="date">April 2023</div>
            <div class="description">
              Valve adopts portals for the popular Steam application
            </div>
            <div class="date">May 2023</div>
            <div class="description">
              Flathub offers more than 2000 apps and celebrates 1B total
              downloads
            </div>
            <div class="date">October 2023</div>
            <div class="description">
              Discord adopts Flatpak to publish on Linux
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
