---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Presentations & Articles">
  <section class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <h1>Presentations &amp; Articles</h1>

          <ul id="toc" data-toc="" data-toc-headings="h3"></ul>

          <p>
            If you know of a presentation or article that isn't listed, please <a
              href="https://github.com/flatpak/flatpak.github.io/issues/new"
              >file an issue</a
            > so we can add it!
          </p>

          <h2>2021</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=c_dG_ngnJk4"
              ><strong
                >Will Thompson: Automate your Flatpak manifest updates today</strong
              ></a
            >
            Linux App Summit, May 2021
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=IuxHidCdbPo"
              ><strong>Jan Beran: Making flatpaks from Fedora RPMs</strong></a
            >
            Linux App Summit, May 2021
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=INTbqkck258"
              ><strong>Valentin David: Freedesktop SDK on RISC-V</strong></a
            >
            Linux App Summit, May 2021
          </p>

          <h2>2020</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=0yeXTounX3E"
              ><strong
                >Alexander Larsson: Flatpak, an introduction (Lightning Talk)</strong
              ></a
            >
            Linux App Summit, November 2020
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=IqHEx-Lug8k"
              ><strong
                >Bartłomiej Piotrowski: Flathub: The State of the Union</strong
              ></a
            >
            Linux App Summit, November 2020
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=3rCIEzfZw1I"
              ><strong
                >Felipe Borges: Application sandboxing with Flatpak Portals</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2020
          </p>

          <h2>2019</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=ZGAfYP3OiAI"
              ><strong
                >Robert McQueen: Building an app store with Flathub</strong
              ></a
            >
            Linux App Summit, Barcelone, Spain, November 2019
          </p>

          <p>
            <a
              href="https://www.youtube.com/watch?v=q-_fKWby0ds&list=PLkmRdYgttscEuv9v2-H9P5FBj8-td_Nri&index=24"
              ><strong
                >Alexander Larsson: Maintaining a Flatpak Repository</strong
              ></a
            >
            GUADEC, Thessaloniki, Greece, August 2019
          </p>

          <p>
            <a
              href="https://www.youtube.com/watch?v=ky-inEefWpE&list=PLkmRdYgttscEuv9v2-H9P5FBj8-td_Nri&index=20"
              ><strong
                >Valentin David, Adam Jones: Freedesktop-sdk Status Update and
                Future Plans</strong
              ></a
            >
            GUADEC, Thessaloniki, Greece, August 2019
          </p>

          <p>
            <a
              href="https://www.youtube.com/watch?v=7p4y9Meyy0M&list=PLkmRdYgttscEuv9v2-H9P5FBj8-td_Nri&index=12"
              ><strong
                >Richard Brown: Help, I'm Falling in Love with Flatpak</strong
              ></a
            >
            GUADEC, Thessaloniki, Greece, August 2019
          </p>

          <p>
            <a
              href="https://www.youtube.com/watch?v=bIzJyp8sb70&list=PLkmRdYgttscEuv9v2-H9P5FBj8-td_Nri&index=9"
              ><strong
                >Matthias Clasen: Portals - Principles and Practice</strong
              ></a
            >
            GUADEC, Thessaloniki, Greece, August 2019
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=mpCXK6PqvDk"
              ><strong>Owen Taylor: Flatpaks in Fedora - an update</strong></a
            >
            DevConf.CZ, Brno, Czechia, January 2019
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=_ZmgdnhvjvM"
              ><strong
                >Jiří Janoušek: Fight Linux fragmentation with Flatpak</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2019
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=EdrSJMKikUM"
              ><strong
                >Felipe Borges: Running virtual machines in the Flatpak sandbox</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2019
          </p>

          <p>
            <a
              href="https://wiki.documentfoundation.org/File:AsiaCon2019_Kukuh_Syafaat.pdf"
              ><strong
                >Kukuh Syafaat: LibreOffice Flatpak, Snap and AppImage</strong
              ></a
            >
            LibreOffice Asia Conference 2019, Tokyo, Japan, May 2019
          </p>

          <h2>2018</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=OuySHov0gdA"
              ><strong>Jiří Janoušek: Why and How I Switched to Flatpak</strong
              ></a
            >
            LinuxDays, Prague, Czechia, October 2018
          </p>

          <p>
            <a
              href="https://people.gnome.org/~alexl/presentations/all-systems-go-2018.pdf"
              ><strong
                >Alexander Larsson: Flatpak - a technical walk-through</strong
              ></a
            >
            All Systems Go! Berlin, Germany, September 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=Hga20qlyknw"
              ><strong
                >Robert McQueen &amp; Jorge García: Flathub, app store and build
                service for flatpak apps</strong
              ></a
            >
            GUADEC, Almeria, Spain, July 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=rhEzTQg_LEk"
              ><strong
                >Adam Jones &amp; Valentin David: Freedesktop SDK: the future of
                Linux runtimes</strong
              ></a
            >
            GUADEC, Almeria, Spain, July 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=SIPOfPv1z1s"
              ><strong
                >Matthew Leeds: P2P Distribution of Flatpaks and OSTrees</strong
              ></a
            >
            GUADEC, Almeria, Spain, July 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=EbvxZa2Blgs"
              ><strong
                >Owen Taylor: A distribution approach to building Flatpaks</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=FcykFHJEDUU"
              ><strong
                >Robert McQueen: Desktop OS of the future: ostree + flatpak</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2018
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=SBWGwwrGR8M"
              ><strong
                >Alexander Larsson: Flatpaking your app for fame and fortune</strong
              ></a
            >
            DevConf.CZ, Brno, Czechia, January 2018
          </p>

          <p>
            <a
              href="https://events.opensuse.org/conferences/summitasia18/program/proposals/2005"
              ><strong>Kukuh Syafaat: openSUSE Leap &amp; Flatpak</strong></a
            >
            openSUSE.Asia Summit 2018, Taipei, Taiwan, August 2018
          </p>

          <h2>2017</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=IUA38lvb_tM"
              ><strong
                >Alexander Larsson: Taking back the apps from the distributions</strong
              ></a
            >
            LAS GNOME, October 2016, Portland, USA
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=MFue217zmyk"
              ><strong>Jorge Garcia:Building a Flatpak based app store</strong
              ></a
            >
            GUADEC, August 2017, Manchester, UK
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=U8zlbXYTN2U"
              ><strong
                >Jan Grulich &amp; Martin Bříza: Flatpak and KDE &amp; the state
                of Qt integration in GNOME</strong
              ></a
            >
            GUADEC, August 2017, Manchester, UK
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=RPblTKt4Klo"
              ><strong
                >Richard Brown: Resurrecting Dinosaurs - what could possibly go
                wrong?</strong
              ></a
            >
            GUADEC, August 2017, Manchester, UK
          </p>

          <p>
            <a
              href="https://www.collabora.com/news-and-blog/blog/2017/08/17/debconf-17-flatpak-and-debian/"
              ><strong>Simon McVittie: Flatpak and Debian</strong></a
            >
            Debconf, August 2017, Montreal, Canada
          </p>

          <p>
            <a
              href="http://www.linux-magazine.com/Online/Features/Universal-Package-Formats-and-How-They-Differ"
              ><strong>Linux Magazine: Flatpak and snap</strong></a
            >
            June 2017
          </p>

          <p>
            <a
              href="https://speakerdeck.com/mariospr/the-future-of-linux-application-distribution-ostree-flatpak-and-gnome-software"
              ><strong
                >Mario Sanchez Prada &amp; Richard Hughes: The future of linux
                application distribution</strong
              ></a
            >
            March 2017, Samsung Research, Staines, UK
          </p>

          <p>
            <a href="https://www.youtube.com/watch?v=xIjxNtIwcBA"
              ><strong
                >Alexander Larsson: Flatpak: Apps on the linux desktops</strong
              ></a
            >
            foss-north 2017, Gothenburg, Sweden
          </p>

          <p>
            <a href="https://mclasen.fedorapeople.org/devconf-flatpak.pdf"
              ><strong
                >Matthias Clasen: Flatpak – A new way to distribute applications</strong
              ></a
            >
            January 2017, devconf.cz, Brno, Czech Republic
          </p>

          <p>
            <a
              href="https://events.opensuse.org/conferences/summitasia17/program/proposals/1502"
              ><strong
                >Kukuh Syafaat: Flatpak &amp; AppImage Usage on openSUSE. Which
                One Suitable for openSUSE Users?</strong
              ></a
            >
            openSUSE.Asia Summit 2017, October 2017, Chofu, Tokyo, Japan
          </p>

          <h2>2016</h2>

          <p>
            <a href="https://www.youtube.com/watch?v=G1OFcNQ5Fw8"
              ><strong
                >Alexander Larsson: Flatpak status update and future plans</strong
              ></a
            >
            GUADEC, August 2016, Karlsruhe, Germany
          </p>

          <p>
            <a href="https://fedoramagazine.org/explore-flatpak-fedora-24/"
              ><strong>Fedora Magazine: Explore Flatpak in Fedora 24</strong></a
            >
            June 2016
          </p>

          <p>
            <a
              href="https://www.slideshare.net/JensPetersen2/flatpak-introdiction"
              ><strong
                >Jens Petersen: Generic standalone linux app packages</strong
              ></a
            >
            FUDCon APAC 2016, Phnom Penh, Cambodia
          </p>

          <h2>2015</h2>

          <p>
            <a
              href="https://www.socallinuxexpo.org/scale/15x/presentations/flatpak-easiest-fastest-and-safest-software-distribution-platform"
              ><strong
                >Christian Hergert: Flatpak, the easiest, fastest, and safest
                software distribution platform</strong
              ></a
            >
            SCALE 2015, Pasadena, USA
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>
