<section class="bg-black" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-lg-offset-1 col-sm-3 hidden-xs">
        <a class="navbar-brand page-scroll" href="#page-top">
          <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"
            ><g style="mix-blend-mode:normal;fill:#fff"
              ><g style="fill:#fff"
                ><path
                  style="fill:#fff;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                  d="M474.61 255.118V406.3l-130.927 75.59V330.71Zm-130.927 75.591V179.528l-130.927 75.59z"
                  transform="translate(34.434 -38.13) scale(.27224)"
                ></path><path
                  style="fill:#fff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:82.9362;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:none;stroke-opacity:1"
                  d="M218.612 233.262a43.667 43.667 0 0 0-21.856 37.856V390.3a43.667 43.667 0 0 0 21.856 37.857l103.214 59.59a43.667 43.667 0 0 0 43.713 0l103.214-59.59a43.667 43.667 0 0 0 21.856-37.857V271.12a43.667 43.667 0 0 0-21.856-37.857l-103.214-59.59a43.667 43.667 0 0 0-43.713 0zm130.927-31.878 103.214 59.59a11.759 11.759 0 0 1 5.856 10.144V390.3c0 4.166-2.249 8.06-5.856 10.144l-103.214 59.59a11.759 11.759 0 0 1-11.713 0l-103.214-59.59a11.759 11.759 0 0 1-5.856-10.144V271.12c0-4.167 2.249-8.062 5.856-10.144l103.214-59.591a11.759 11.759 0 0 1 11.713 0z"
                  transform="translate(34.434 -38.13) scale(.27224)"></path></g
              ><path
                d="M93.155 188.336h3.089v-6.034h5.941v-2.546h-5.941v-3.481h6.583v-2.546h-9.672zm14.729-14.607h-3.038v14.607h3.038zm5.55 14.814c1.619 0 2.667-.706 3.202-1.726h.086v1.52h2.882v-7.39c0-2.61-2.212-3.71-4.651-3.71-2.625 0-4.35 1.256-4.772 3.253l2.81.229c.207-.728.856-1.263 1.948-1.263 1.034 0 1.626.52 1.626 1.42v.042c0 .707-.749.8-2.653.985-2.169.2-4.116.927-4.116 3.373 0 2.169 1.548 3.267 3.638 3.267zm.87-2.097c-.934 0-1.605-.435-1.605-1.27 0-.855.706-1.276 1.776-1.426.663-.093 1.748-.25 2.111-.492v1.163c0 1.148-.948 2.025-2.282 2.025zm13.488-9.066h-2.061v-2.624h-3.039v2.624h-1.498v2.283h1.498v5.706c-.014 2.147 1.448 3.21 3.652 3.117a5.91 5.91 0 0 0 1.648-.285l-.478-2.261c-.15.028-.47.1-.756.1-.607 0-1.027-.229-1.027-1.07v-5.307h2.061zm1.976 15.065h3.038v-5.863h.093c.42.913 1.341 1.933 3.11 1.933 2.496 0 4.444-1.976 4.444-5.642 0-3.766-2.033-5.635-4.437-5.635-1.833 0-2.71 1.091-3.117 1.983h-.135v-1.84h-2.996zm2.974-9.587c0-1.954.828-3.202 2.304-3.202 1.505 0 2.304 1.305 2.304 3.202 0 1.912-.813 3.239-2.304 3.239-1.462 0-2.304-1.284-2.304-3.239zm12.853 5.685c1.62 0 2.668-.706 3.203-1.726h.086v1.52h2.881v-7.39c0-2.61-2.211-3.71-4.65-3.71-2.625 0-4.351 1.256-4.772 3.253l2.81.229c.207-.728.856-1.263 1.947-1.263 1.035 0 1.627.52 1.627 1.42v.042c0 .707-.75.8-2.654.985-2.168.2-4.115.927-4.115 3.373 0 2.169 1.547 3.267 3.637 3.267zm.87-2.097c-.934 0-1.604-.435-1.604-1.27 0-.855.706-1.276 1.776-1.426.663-.093 1.747-.25 2.111-.492v1.163c0 1.148-.949 2.025-2.282 2.025zm7.661 1.89h3.039v-3.48l.82-.935 2.989 4.415h3.559l-4.273-6.212 4.066-4.744h-3.488l-3.51 4.159h-.163v-7.81h-3.039z"
                transform="translate(0 -56)"
                aria-label="Flatpak"
                style="font-weight:700;font-size:28.4667px;line-height:1.25;font-family:Inter;-inkscape-font-specification:'Inter, Bold';text-align:center;letter-spacing:0;word-spacing:0;text-anchor:middle"
              ></path></g
            ></svg
          >
        </a>
      </div>
      <ul
        class="col-lg-7 col-lg-offset-0 col-sm-8 col-sm-offset-0 col-xs-7 col-xs-offset-2"
      >
        <li class="toplevel">
          <a href="/">Home</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/setup/" class="page-scroll">Get Setup</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="https://flathub.org/" class="page-scroll">Browse Apps ↗</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="https://docs.flatpak.org/" class="page-scroll"
            >Developer guide ↗</a
          >
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/faq/" class="page-scroll">FAQ</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/presentations/" class="page-scroll"
            >Presentations &amp; Articles</a
          >
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/blog-posts/" class="page-scroll">Blog Posts</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/about/" class="page-scroll">About Us &amp; Contact</a>
        </li>
        <li class="toplevel">
          <!-- id links on index page -->
          <a href="/press/" class="page-scroll">Press</a>
        </li>
      </ul>
      <div class="col-lg-1 col-sm-1 col-xs-1">
        <a href="https://twitter.com/FlatpakApps">
          <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
          <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 32 32"
            height="32"
            width="32"
            xml:space="preserve"
            version="1.1"
            id="svg7466"
            ><metadata id="metadata7472"
              ><rdf:rdf
                ><cc:work rdf:about=""
                  ><dc:format>image/svg+xml</dc:format><dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage"
                  ></dc:type><dc:title></dc:title></cc:work
                ></rdf:rdf
              ></metadata
            ><defs id="defs7470"></defs><g
              transform="matrix(1.25,0,0,-1.25,0,31.999997)"
              id="g7474"
              ><g
                style="fill:#888a85"
                transform="matrix(0.01061022,0,0,0.01061022,2.4158526,3.6660266)"
                id="twitterbird"
                ><path
                  id="path7478"
                  style="fill:#888a85;fill-opacity:1;fill-rule:nonzero;stroke:none"
                  d="m 2000,1432.96 c -73.58,-32.64 -152.67,-54.69 -235.66,-64.61 84.7,50.78 149.77,131.19 180.41,227.01 -79.29,-47.03 -167.1,-81.17 -260.57,-99.57 -74.84,79.75 -181.48,129.57 -299.5,129.57 -226.6,0 -410.328,-183.71 -410.328,-410.31 0,-32.16 3.628,-63.48 10.625,-93.51 -341.016,17.11 -643.368,180.47 -845.739,428.72 -35.324,-60.6 -55.5583,-131.09 -55.5583,-206.29 0,-142.36 72.4373,-267.95 182.5433,-341.53 -67.262,2.13 -130.535,20.59 -185.8519,51.32 -0.0391,-1.71 -0.0391,-3.42 -0.0391,-5.16 0,-198.803 141.441,-364.635 329.145,-402.342 -34.426,-9.375 -70.676,-14.395 -108.098,-14.395 -26.441,0 -52.145,2.578 -77.203,7.364 C 276.391,476.219 427.926,357.578 607.48,354.281 467.051,244.219 290.129,178.621 97.8828,178.621 64.7617,178.621 32.0977,180.57 0,184.359 181.586,67.9414 397.27,0 628.988,0 1383.72,0 1796.45,625.238 1796.45,1167.47 c 0,17.79 -0.41,35.48 -1.2,53.08 80.18,57.86 149.74,130.12 204.75,212.41"
                ></path></g
              ></g
            ></svg
          >
        </a>
        <style>
          #twitterbird path {
            transition: fill 400ms ease-in-out;
          }
          #twitterbird path:hover {
            fill: #fff !important;
          }
        </style>
      </div>
      <div class="col-lg-1 col-sm-1 col-xs-1">
        <a href="https://fosstodon.org/@FlatpakApps">
          <!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
          <svg
            viewBox="0 0 32 31.999999"
            version="1.1"
            id="mastodonlogo"
            sodipodi:docname="_mastodon.svg"
            width="32"
            height="32"
            inkscape:version="1.2 (dc2aedaf03, 2022-05-15)"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <defs id="defs75"></defs>
            <sodipodi:namedview
              id="namedview73"
              pagecolor="#ffffff"
              bordercolor="#000000"
              borderopacity="0.25"
              inkscape:showpageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="true"
              inkscape:deskcolor="#d1d1d1"
              showgrid="false"
              inkscape:zoom="27.736436"
              inkscape:cx="8.9052538"
              inkscape:cy="4.4165733"
              inkscape:window-width="1920"
              inkscape:window-height="995"
              inkscape:window-x="0"
              inkscape:window-y="0"
              inkscape:window-maximized="1"
              inkscape:current-layer="svg71"></sodipodi:namedview>
            <path
              d="m 16.24106,1.7815 c -3.63558,0.029724 -7.1327045,0.4233083 -9.1707436,1.3592857 0,0 -4.0419533,1.8081614 -4.0419533,7.9771363 0,1.412606 -0.027501,3.101778 0.017237,4.892999 0.1467781,6.032902 1.1060435,11.978605 6.6839168,13.454974 2.5718231,0.680702 4.7798751,0.82314 6.5582161,0.725353 3.224991,-0.178803 5.035472,-1.150782 5.035472,-1.150782 l -0.106542,-2.339825 c 0,0 -2.304544,0.72654 -4.89276,0.637986 -2.564347,-0.08802 -5.271374,-0.276426 -5.686119,-3.424794 -0.03839,-0.276562 -0.05743,-0.572334 -0.05743,-0.882919 0,0 2.517243,0.615376 5.70741,0.761534 1.950704,0.0894 3.780006,-0.114407 5.63798,-0.33611 3.563129,-0.425474 6.665547,-2.620776 7.055472,-4.626782 C 29.595625,15.66954 29.54499,11.117922 29.54499,11.117922 29.544971,4.9489471 25.50328,3.1407857 25.50328,3.1407857 23.465377,2.2048083 19.965963,1.8112236 16.330352,1.7815 Z m -4.114488,4.8202228 c 1.514359,0 2.661031,0.5821265 3.419304,1.7463938 l 0.737078,1.2355176 0.737334,-1.2355176 c 0.758112,-1.1642673 1.904809,-1.7463938 3.41927,-1.7463938 1.308765,0 2.363393,0.460092 3.168659,1.357614 0.780627,0.8975204 1.169207,2.1105182 1.169207,3.6371402 v 7.469591 h -2.959402 v -7.249847 c 0,-1.528284 -0.642821,-2.3041678 -1.929036,-2.3041678 -1.422144,0 -2.134954,0.9203108 -2.134954,2.7398928 v 3.968214 h -2.941927 v -3.968214 c 0,-1.819582 -0.712806,-2.7398918 -2.134914,-2.7398928 -1.286231,0 -1.929283,0.7758838 -1.929283,2.3041678 v 7.249847 H 7.7884969 v -7.469591 c 0,-1.526622 0.3886721,-2.7396198 1.1694505,-3.6371402 0.805124,-0.897522 1.8597396,-1.357614 3.1686246,-1.357614 z"
              fill="#ffffff"
              id="path69"
              style="stroke-width:0.12259;fill:#888a85;fill-opacity:1"></path>
          </svg>
        </a>
        <style>
          #mastodonlogo path {
            transition: fill 400ms ease-in-out;
          }
          #mastodonlogo path:hover {
            fill: #fff !important;
          }
        </style>
      </div>
    </div>
  </div>
</section>
